In [25]:
import pandas as pd
import requests

def listar_opcoes(ativo_objeto):
    url = f'https://opcoes.net.br/listaopcoes/completa?idAcao={ativo_objeto}&listarVencimentos=True&cotacoes=true'
    r = requests.get(url).json()
    l = [[i[0].split('_')[0], i[2], i[3], i[5], i[8]] for i in r['data']['cotacoesOpcoes']]
    return pd.DataFrame(l, columns=['ativo', 'tipo', 'modelo', 'strike', 'preco'])

listar_opcoes('PETR4')

        ativo  tipo modelo  strike  preco
0      PETRD4  CALL      A   45.00   0.01
1     PETRD24  CALL      A   14.51   8.95
2     PETRD29  CALL      A   20.01   3.75
3     PETRD30  CALL      A    8.01  15.20
4     PETRD36  CALL      A   27.01   0.18
..        ...   ...    ...     ...    ...
217  PETRP520   PUT      E   52.00  27.91
218  PETRP530   PUT      E   53.00  28.93
219  PETRP739   PUT      E    3.91   0.01
220  PETRP770   PUT      E    7.01   0.01
221  PETRP788   PUT      E    8.81    NaN

[222 rows x 5 columns]